.headerLink {
  text-decoration: none;
  color: #ddd;
  font-weight: 700;
}

.toolsTitle {
  text-align: start;
  padding-top: 2rem;
  padding-left: 1rem;
  margin-bottom: 1 rem;
}

.toolCard {
  color: #333;
  background-color: #fff;
  cursor: pointer;
  text-align: start;
  margin: 16px;
  padding: 16px;
  height: calc(100% - 32px);
  position: relative;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.toolCard::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #003380;
  transition: width 0.7s ease;
}

.toolCard:hover {
  background-color: #fff;
  transform: translateY(-2px) scale(1.01);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.toolCard:hover::after {
  width: 100%;
}

.headerContainer {
  background-image: url("/OpenGeo_Perfil_degrade.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.headerHero {
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 5%,
    rgba(0, 0, 0, 0.9) 95%,
    rgba(0, 0, 0, 0) 100%
  ); */
  /* background-color: #000000; */
  margin: 64px;
  padding: 1rem;
}

/* .headerContainer::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url("/OpenGeo_Perfil.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

.contentRow {
  flex: 1;
  display: flex;
  margin: 0;
  height: 100%;
}

.statsColumn {
  background-color: #003380;
  color: white;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
}

.statsColumn > h3 {
  margin-bottom: 2rem;
  padding: 0 15%;
  text-align: center;
}

.statsColumn > p {
  color: #ddd;
  padding: 0 10%;
  text-align: center;
}

.statsColumn > ul {
  color: #ddd;
  text-align: center;
  list-style-type: none;
  padding: 0 10%;
}

.toolsColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolsContent {
  flex: 1;
}

.socialAlert {
  margin: 0 5% 2rem;
  text-align: center;
}

.analyticsHighlight {
  color: white;
  font-weight: 900;
}
