.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.routesContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}
